/* Quiz.css */

.quiz-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quiz-content {
    background-color: white;
    padding: 30px; /* Adjust padding */
    border-radius: 15px; /* Adjust border radius */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Adjust box shadow */
    width: 90%; /* Adjust width */
    max-width: 800px; /* Adjust max-width */
    height: auto; /* Set height to auto */
  }
  
  .question-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2, p {
    color: black;
  }
  
  .question-options {
    display: flex;
    flex-wrap: wrap; /* Allow options to wrap onto new lines */
    justify-content: center; /* Center options horizontally */
  }
  
  .option {
    margin: 10px; /* Increase margin between options */
    flex-basis: 45%; /* Set width for each option */
  }
  
  .option-button {
    background-color: blue;
    color: white;
    font-size: 1.2rem; /* Increase font size */
    padding: 20px 40px; /* Increase padding */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%; /* Ensure button fills its container */
  }
  
  .control-buttons {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-top: 20px; /* Add margin to separate from options */
  }
  
  .previous-button,
  .next-button,
  .quit-button {
    font-size: 0.8rem; /* Decrease font size */
    padding: 10px 20px; /* Decrease padding */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 5px; /* Add margin between buttons */
    width: 100px; /* Set fixed width */
    color: white !important; /* Set text color to white */
  }
  
  .previous-button {
    background-color: green; /* Set green color */
  }
  
  .next-button {
    background-color: rgb(105, 105, 249); /* Set blue color */
  }
  
  .quit-button {
    background-color: red; /* Set red color */
  }
  